
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.idea

/public/images/animes/
/public/images/.DS_Store
/public/users/profilePics/

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
.claude
