parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$seconds of function sleep expects int, float given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/ImportAnimeImagesCommand.php

		-
			message: '#^Property App\\Command\\LiipWarmupCommand\:\:\$filters type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Command/LiipWarmupCommand.php

		-
			message: '#^Parameter \#2 \$length of function array_chunk expects int\<1, max\>, float given\.$#'
			identifier: argument.type
			count: 1
			path: src/Command/LiipWarmupParallelCommand.php

		-
			message: '#^Property App\\Command\\LiipWarmupWorkerCommand\:\:\$filters type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Command/LiipWarmupWorkerCommand.php

		-
			message: '#^Deprecated in PHP 8\.4\: Parameter \#2 \$logger \(Symfony\\Component\\HttpKernel\\Log\\DebugLoggerInterface\) is implicitly nullable via default value null\.$#'
			identifier: parameter.implicitlyNullable
			count: 1
			path: src/Controller/ExceptionController.php

		-
			message: '#^Property App\\Entity\\Anime\:\:\$genres type mapping mismatch\: property can contain Doctrine\\Common\\Collections\\Collection but database expects Doctrine\\Common\\Collections\\Collection&iterable\<App\\Entity\\Genre\>\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Entity/Anime.php

		-
			message: '#^Property App\\Entity\\Anime\:\:\$genres with generic interface Doctrine\\Common\\Collections\\Collection does not specify its types\: TKey, T$#'
			identifier: missingType.generics
			count: 1
			path: src/Entity/Anime.php

		-
			message: '#^Property App\\Entity\\Anime\:\:\$producers type mapping mismatch\: property can contain Doctrine\\Common\\Collections\\Collection but database expects Doctrine\\Common\\Collections\\Collection&iterable\<App\\Entity\\Producer\>\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Entity/Anime.php

		-
			message: '#^Property App\\Entity\\Anime\:\:\$producers with generic interface Doctrine\\Common\\Collections\\Collection does not specify its types\: TKey, T$#'
			identifier: missingType.generics
			count: 1
			path: src/Entity/Anime.php

		-
			message: '#^Property App\\Entity\\Anime\:\:\$studios type mapping mismatch\: property can contain Doctrine\\Common\\Collections\\Collection but database expects Doctrine\\Common\\Collections\\Collection&iterable\<App\\Entity\\Studio\>\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Entity/Anime.php

		-
			message: '#^Property App\\Entity\\Anime\:\:\$studios with generic interface Doctrine\\Common\\Collections\\Collection does not specify its types\: TKey, T$#'
			identifier: missingType.generics
			count: 1
			path: src/Entity/Anime.php

		-
			message: '#^Method App\\Entity\\User\:\:setRoles\(\) has parameter \$roles with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Property App\\Entity\\User\:\:\$createdAt type mapping mismatch\: property can contain DateTimeImmutable\|null but database expects DateTimeImmutable\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Property App\\Entity\\User\:\:\$email type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Property App\\Entity\\User\:\:\$password type mapping mismatch\: property can contain string\|null but database expects string\.$#'
			identifier: doctrine.columnType
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Property App\\Entity\\User\:\:\$roles type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Class App\\Form\\RegistrationFormType extends generic class Symfony\\Component\\Form\\AbstractType but does not specify its types\: TData$#'
			identifier: missingType.generics
			count: 1
			path: src/Form/RegistrationFormType.php

		-
			message: '#^Method App\\Repository\\AnimeRepository\:\:paginateAll\(\) should return array\{items\: list\<App\\Entity\\Anime\>, total\: int, pages\: int, page\: int, limit\: int\} but returns array\{animes\: list\<mixed\>, total\: int\<0, max\>, pages\: int, page\: int, limit\: int\|null\}\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/AnimeRepository.php

		-
			message: '#^Method App\\Validator\\Constraints\\StrongPasswordValidator\:\:validate\(\) has parameter \$value with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Validator/Constraints/StrongPasswordValidator.php
