// Import Bootstrap CSS (customizable via SCSS)
@import "~bootstrap/scss/bootstrap";

// Inline SVG icon styling
.inline-icon {
    display: inline-block;
    vertical-align: text-bottom;
    width: 1em;
    height: 1em;
    margin-bottom : 3px;
}
